* {
  margin: 0;
  padding: 0;
  font-family: PingFangSC-Regular;
}

body {
  width: 640px;
  overflow-x: hidden;
  position: relative;
  background: url("../images/Background.png") repeat-y;
}
input::-webkit-input-placeholder {
  color: #9B9B9B;
}
a{
  text-decoration: none;
  display: block;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

a[title='站长统计']{
  display: none;
}
.container{
  position: absolute;
  width: 100%;
}
.titleImg{
  background: url("../images/MainPic.png") no-repeat;
  width: 100%;
  height: 660px;
  background-size: cover;
}

.container .submitBox {
  text-align: center;
  margin: 60px 0;
}
.container .submitBox p {
  margin: 20px auto;
}
.container .submitBox .inputView input {
  -webkit-appearance: none;
  outline: 0;
  background: #FFFFFF;
  border: 1px solid transparent;
  border-radius: 100px;
  width: 400px;
  padding: 9px 29px;
  margin: 15px;
  font-size: 28px;
  color: #000000;
  font-family: PingFangSC-Regular;
}
.container .submitBox .submitView #submitBtn {
  -webkit-tap-highlight-color: transparent;
  border: none;
  text-align: center;
  cursor: pointer;
  width: 460px;
  border-radius: 100px;
  height: 80px;
  line-height: 80px;
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  color: #FFFFFF;
  letter-spacing: 5.62px;
  background: #FF5152;
  box-shadow: 0 2px 4px 0 #F75767;
}
.container .submitBox p:nth-child(3) #submitBtn:hover,
.container .submitBox p:nth-child(3) #submitBtn:active{
  opacity: 0.8;
}
.productTitle {
  position: absolute;
  width: 100%;
}
.productTitle .info {
  position: absolute;
  bottom: 52px;
  font-size: 25px;
  color: #DB1837;
  margin: 0 50px;
}
.ps-title {
  /*background: url("../images/Bitmap.png") no-repeat;*/
  width: 400px;
  height: 80px;
  line-height: 80px;
  display: block;
  position: relative;
  margin: 40px auto;
  background: #FF5152;
  border-radius: 100px;
  text-align: center;
}
.ps-title p {
  font-family: PingFangSC-Semibold;
  font-size: 42px;
  color: #FFFFFF;
  letter-spacing: 0;
  text-shadow: 0 1px 4px rgba(0,0,0,0.46);
}

.product-container .productSpike {
  margin-top: -35px;
}

.productSpike .ps-product{

  clear: both;
}
.productSpike .ps-product .spikeBox{
  margin: 30px;
  display: flex;
  background-color: #fff;
}
.spikeBox .wrapper{
  width: 100%;
  clear: both;
}
.spikeBox .wrapper .ps-p-left{
  width: 45%;
  float: left;
}

.productSpike .ps-product .ps-p-left img {
  width: 270px;
  height: auto;
}
.spikeBox .wrapper .ps-p-right{
  padding: 30px 0;
  width: 52%;
  float: left;
  height: calc(100% - 60px);
}

.ps-p-right .spikeTitle{
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #4A4A4A;
  letter-spacing: 0;
  margin-bottom: 40%;
}
.ps-p-right .spikeInfo{
  clear: both;
}
.ps-p-right .spikeInfo .info-num{
  float: left;
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #F75767;
  letter-spacing: 0;
  height: 40px;
  line-height: 40px;

}
.ps-p-right .spikeInfo .info-time{
  float: right;
  background: #F75767;
  border-radius: 100px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: PingFangSC-Semibold;
  font-size: 26px;
  color: #FFFFFF;
}
.productListWrapper {
  width: 100%;
  display: inline-block;
  padding-bottom: 30px;
}
.productList{
  display: inline-block;
  clear: both;
  width: 100%;
}
.productList .list:nth-child(2n+1) {
  margin-left: 30px;
  margin-right: 12px;
}
.productList .list:nth-child(2n+2) {
  margin-left: 12px;
  margin-right: 30px;
}
.productList .list {
  width: 43.4%;
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  background-color: #fff;
}
.productList .list .list-a{
  display: block;
  padding: 10px;
  margin-bottom: 10px;
}
.productList .list  .list-img {
  text-align: center;
  margin-top: 10px;
}
.productList .list  .list-img img {
  width: 230px;
  height: 230px;
}
.productList .list .list-title {
  font-family: PingFangSC-Regular;
  font-size: 24px;
  color: #4A4A4A;
  margin: 20px 15px;
  height: 130px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
}
.productList .list .list-price{
  clear: both;width: 100%;display: inline-block;
  height: 40px;
  line-height: 40px
}
.productList .list .list-price .priceInfo{
  float: left;
  font-family: PingFangSC-Regular;
  font-size: 20px;
  color: #FA5564;
  margin-left: 10px;
}
.productList .list .list-price .shopBtn{
  float: right;
  background: #F75767;
  border-radius: 100px;
  width: 160px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-family: PingFangSC-Semibold;
  font-size: 26px;
  color: #FFFFFF;
  margin-right: 10px;
}

.activityNotes{
  /*background:url("../images/满赠banner.png") no-repeat;*/
  background-size: cover;
  width: 100%;
  height:360px;

}

/*model*/
.model {
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
}
.model div {
  position: absolute;
  right: 45px;
  top: 45px;
}
.model div img {
  float: right;
}
.model div p {
  font-family: PingFangSC-Semibold;
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 120px;
}
